node_modules
.DS_Store
.env
.env.local
.env.testing
.env.development
.env.production

# Laravel standard
/vendor/
node_modules/
public/storage
storage/*.key
.env
Homestead.yaml
Homestead.json
*.log
*.phpunit.result.cache
phpunit.xml
coverage/

# Laravel cache
/storage/
bootstrap/cache/

# IDE / Editor folders
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# npm / yarn logs
npm-debug.log
yarn-debug.log
yarn-error.log
